### Создание таблиц
~~~sql
create table transaction_2 (
  transaction_id int4 primary key
  ,product_id int4
  ,customer_id int4
  ,transaction_date varchar(30)
  ,online_order varchar(30)
  ,order_status varchar(30)
  ,brand varchar(30)
  ,product_line varchar(30)
  ,product_class varchar(30)
  ,product_size varchar(30)
  ,list_price float4
  ,standard_cost float4
)

create table customer_2 (
  customer_id int4 primary key
  ,first_name varchar(50)
  ,last_name varchar(50)
  ,gender varchar(30)
  ,DOB varchar(50)
  ,job_title varchar(50)
  ,job_industry_category varchar(50)
  ,wealth_segment varchar(50)
  ,deceased_indicator varchar(50)
  ,owns_car varchar(30)
  ,address varchar(50)
  ,postcode varchar(30)
  ,state varchar(30)
  ,country varchar(30)
  ,property_valuation int4
)
~~~

### Задание 1
Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.
~~~sql 
select distinct brand
from transaction_2 t
where standard_cost > 1500 
~~~

<img src=img/HW2_1.JPG width=150px height=30%>

### Задание 2
Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно.
~~~sql
select * 
from transaction_2 t 
where (transaction_date::date between '2017-04-01'::date and '2017-04-09'::date) 
    and (order_status = 'Approved')
~~~

<img src=img/HW2_2.JPG width=800px height=30%>

### Задание 3
Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.
~~~sql
select distict job_title
from customer_2 c 
where (job_title like 'Senior%') and ((job_industry_category='IT') 
    or (job_industry_category='Financial Services'))
~~~

<img src=img/HW2_3.JPG width=200px height=30%>

### Задание 4
Вывести все бренды, которые закупают клиенты, работающие в сфере Financial Services.
~~~sql
select distinct brand
from transaction_2 t, customer_2 c 
where job_industry_category = 'Financial Services'
~~~

<img src=img/HW2_4.JPG width=150px height=30%>

### Задание 5
Вывести 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'.
~~~sql
select distinct c.customer_id, first_name, last_name 
from customer_2 c, transaction_2 t 
where brand in ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles') 
    and online_order = 'True'
limit 10
~~~

<img src=img/HW2_5.JPG width=400px height=30%>

### Задание 6
Вывести всех клиентов, у которых нет транзакций.
~~~sql
select distinct c.customer_id, first_name, last_name
from customer_2 c
left join transaction_2 t on c.customer_id = t.customer_id 
where t.customer_id is null
~~~

<img src=img/HW2_6.JPG width=400px height=30%>

### Задание 7
Вывести всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.
~~~sql
with new_transaction as(
	select * 
	from transaction_2 t 
	where standard_cost = (select max(standard_cost) from transaction_2 t)
)
select c.customer_id, first_name, last_name, job_industry_category, standard_cost
from customer_2 c
left join new_transaction on new_transaction.customer_id = c.customer_id
where job_industry_category = 'IT' 
    and standard_cost = (select max(standard_cost) from new_transaction)

~~~

<img src=img/HW2_7.JPG width=500px height=30%>

### Задание 8
Вывести всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период '2017-07-07' по '2017-07-17'.
~~~sql
with new_customer as(
    select * 
    from customer_2 c 
    where job_industry_category in ('IT', 'Health') 
)
select distinct new_customer.customer_id, first_name, last_name, job_industry_category
from transaction_2 t 
left join new_customer on new_customer.customer_id = t.customer_id 
where job_industry_category in ('IT', 'Health') 
	and transaction_date::date between '2017-07-07'::date and '2017-07-17'::date
	and order_status = 'Approved'
~~~

<img src=img/HW2_8.JPG width=500px height=30%>