In [1]:
import os
import pandas as pd
from PIL import Image
import numpy as np

In [2]:
plant_data = pd.read_csv('data/Plants_data.csv')

path = 'data/Dracaena'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [0]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                                             img_name id
28  IMG_1577-Copy_jpg.rf.131f4013238697ba5da718ebd...  0
29  IMG_1577-Copy_jpg.rf.6a7bc774da8d2455e6154f721...  0
30  IMG_1577-Copy_jpg.rf.8a47b124eace936c3f1cfa890...  0
31  IMG_1577-Copy_jpg.rf.c379f93ab4bb8ec70e1058b8c...  0
32  IMG_1577-Copy_jpg.rf.e62f989fb9b88a5cf0eab5a76...  0

In [3]:
path = 'data/Spathiphyllum'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [1]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                                              img_name id
157  IMG_1637_jpg.rf.8a1101f5c05875f287a97c59f38438...  1
158  IMG_1638_jpg.rf.042b5851905ae55a0ba1aad896491f...  1
159  IMG_1638_jpg.rf.7d0bc6150d5985e25efe7bb68aee05...  1
160  IMG_1638_jpg.rf.c9a4574122a414583a33de1f12f471...  1
161                                               test  1

In [34]:
path = 'data/Hovea/new'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [2]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                               img_name id
237     rot9020170804_020203790_iOS.jpg  2
238            rot907girpcXNI7Gb42G.jpg  2
239                 rot90dscf9793-1.jpg  2
240                  rot90hoveya-63.jpg  2
241  rot90kogda-peresazhivat-hoveyu.jpg  2

In [35]:
path = 'data/Orchid/new'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [3]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                                              img_name id
317  rot9033000_533x800_7b812fdb7dc841b1dce821a4366...  3
318                               rot904086931 (1).jpg  3
319                         rot90Listya-orhidei-39.jpg  3
320                                rot90scale_1200.jpg  3
321                                     scale_1200.jpg  3

In [36]:
path = 'data/Sansevieria/new'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [4]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                                              img_name id
389          rot90d45cf34d342b7a39eb30d8f0ce44722e.jpg  4
390                            rot90sansevieriya-8.jpg  4
391  rot90sansevieriya-isklyuchitelno-vyinoslivoe-r...  4
392                                 sansevieriya-8.jpg  4
393  sansevieriya-isklyuchitelno-vyinoslivoe-rasten...  4

In [37]:
path = 'data/Zamiokulkas/new'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [5]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                                              img_name id
445  rot901704720613_vsegda-pomnim-com-p-zamiokulka...  5
446          rot906452e613b2216a213f0ce0592b811adf.jpg  5
447          rot90b3c622431129fd50bc9369a301fa5831.jpg  5
448  rot90Zenzi-miniaturowy-zamiokulkas-zamiolistny...  5
449      Zenzi-miniaturowy-zamiokulkas-zamiolistny.jpg  5

### Обработка изображений

In [32]:
path = 'data/Spathiphyllum'
for i in os.listdir(path):
    if str(i)[-3:] == 'jpg': 
        
        with Image.open(path + '/' + i) as img:
            img.load()
            
        img.save(path + '/new/' + i)
        
        gray_img = img.convert("L")
        gray_img.save(path + '/new/gray_' + i)
        
        conv_img = img.transpose(Image.FLIP_TOP_BOTTOM)
        conv_img.save(path + '/new/conv_' + i)
        
        gray_conv_img = conv_img.convert("L")
        gray_conv_img.save(path + '/new/gray_conv_' + i)
        
        img_rot90 = img.copy()
        crop = img.width * 0.7
        sub_image = img.crop(box=(100,100,crop,crop)).rotate(90)
        img_rot90.paste(sub_image, box=(100,100))
        img_rot90.save(path + '/new/rot90_' + i)
        
        gray_rot90_img = img_rot90.convert("L")
        gray_rot90_img.save(path + '/new/gray_rot90_' + i)
        
        img_rot180 = img.copy()
        crop = img.width * 0.8
        sub_image = img.crop(box=(50,50,crop,crop)).rotate(180)
        img_rot180.paste(sub_image, box=(50,50))
        img_rot180.save(path + '/new/rot180_' + i)
        
        gray_rot180_img = img_rot180.convert("L")
        gray_rot180_img.save(path + '/new/gray_rot180_' + i)
        
        img_width = img.resize((round(img.width*1.5), img.height))
        img_width.save(path + '/new/width_' + i)
        
        width_gray_img = img_width.convert("L")
        width_gray_img.save(path + '/new/width_gray_' + i)
        
        img_wid_rot90 = img_width.copy()
        crop = img_width.width * 0.7
        sub_image = img_width.crop(box=(100,100,crop,crop)).rotate(90)
        img_wid_rot90.paste(sub_image, box=(100,100))
        img_wid_rot90.save(path + '/new/wid_rot90_' + i)
        
        img_height = img.resize((img.width, round(img.height*1.2)))
        img_height.save(path + '/new/height_' + i)
        
        height_gray_img = img_height.convert("L")
        height_gray_img.save(path + '/new/height_gray_' + i)

In [ ]:
plants_list = ['Dracaena', 'Hovea', 'Orchid', 'Sansevieria', 'Spathiphyllum',
               'Zamiokulkas']

In [52]:
filename = "data/1633466875_34-p-orkhideya-tsvetov-v-gorshke-doma-foto-34.jpg"
with Image.open(filename) as img:
    img.load()

gray_img = img.convert("L")
#gray_img.show()

converted_img = img.transpose(Image.FLIP_TOP_BOTTOM)
#converted_img.show()

image_arr = np.array(img) 
x1 = round(image_arr.shape[0]*0.2)
x2 = round(image_arr.shape[0]*0.8)
y1 = round(image_arr.shape[1]*0.2)
y2 = round(image_arr.shape[1]*0.8)
image_arr = image_arr[x1:x2, y1:y2] 
image = Image.fromarray(image_arr) 
  
# Display image 
image.show()