In [26]:
import os
import pandas as pd
from PIL import Image
import numpy as np

In [18]:
plant_data = pd.read_csv('data/Plants_data.csv')

path = 'data/Dracaena'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [0]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                                             img_name id
28  IMG_1577-Copy_jpg.rf.131f4013238697ba5da718ebd...  0
29  IMG_1577-Copy_jpg.rf.6a7bc774da8d2455e6154f721...  0
30  IMG_1577-Copy_jpg.rf.8a47b124eace936c3f1cfa890...  0
31  IMG_1577-Copy_jpg.rf.c379f93ab4bb8ec70e1058b8c...  0
32  IMG_1577-Copy_jpg.rf.e62f989fb9b88a5cf0eab5a76...  0

In [20]:
path = 'data/Spathiphyllum'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [1]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                                              img_name id
284  IMG_1637_jpg.rf.4c4dea35397242d07fb9a9a5aaacb3...  1
285  IMG_1637_jpg.rf.8a1101f5c05875f287a97c59f38438...  1
286  IMG_1638_jpg.rf.042b5851905ae55a0ba1aad896491f...  1
287  IMG_1638_jpg.rf.7d0bc6150d5985e25efe7bb68aee05...  1
288  IMG_1638_jpg.rf.c9a4574122a414583a33de1f12f471...  1

In [ ]:
plant_data = pd.read_csv('data/Plants_data.csv')

path = 'data/Hovea'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [2]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

                                 img_name id
6                     7girpcXNI7Gb42G.jpg  1
7   9f8b85ab38ba10bb4d3b0edef12e684e.jpeg  1
8                          dscf9793-1.jpg  1
9                           hoveya-63.jpg  1
10          kogda-peresazhivat-hoveyu.jpg  1

In [ ]:
path = 'data/Orchid'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [3]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

In [ ]:
path = 'data/Sansevieria'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [4]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

In [ ]:
path = 'data/Zamiokulkas'
for i in os.listdir(path):
    df2 = pd.DataFrame({'img_name': [i], 'id': [5]})
    plant_data = pd.concat([plant_data, df2], ignore_index = True )
plant_data.tail()

### Обработка изображений

In [52]:
filename = "data/1633466875_34-p-orkhideya-tsvetov-v-gorshke-doma-foto-34.jpg"
with Image.open(filename) as img:
    img.load()

gray_img = img.convert("L")
#gray_img.show()

converted_img = img.transpose(Image.FLIP_TOP_BOTTOM)
#converted_img.show()

image_arr = np.array(img) 
x1 = round(image_arr.shape[0]*0.2)
x2 = round(image_arr.shape[0]*0.8)
y1 = round(image_arr.shape[1]*0.2)
y2 = round(image_arr.shape[1]*0.8)
image_arr = image_arr[x1:x2, y1:y2] 
image = Image.fromarray(image_arr) 
  
# Display image 
image.show()

In [44]:
image_arr.shape

(835, 612, 3)

In [53]:
sub_image = img.crop(box=(100,100,800,800)).rotate(90)
img.paste(sub_image, box=(100,100))
img.show()